<section id="ventures_section">
	<div class="container"><!-- ventures list container -->
		<br><br>
		<h2 class="text-center">We are managing and designing the production of the following ventures...</h2>
		<br>


		<div class="row white_background">
			<div class="col-sm-6">
				<br>
				<a href="http://propertyinvestor.io/" alt="PropertyInvestor.io" target="_none" class="visible-xs-inline"><%= image_tag("PI_logo.png", class: "align-center logo-images-xs") %></a>
				<h3 class="hidden-xs">Property Investor</h3>

				<p>Data-based matchmaking of investment properties with investment buyers and their buying criteria.</p>

				<p>This will reduce the percentage of lost deals in the real estate investment space, and it will minimize the amount of time investors spend finding off market deals.</p>

				<p>Stay tuned for the Beta launch, and follow us on <a class="social-link" href="https://twitter.com/proprtyinvstr?lang=en" target="none">Twitter.</a></p>

				<a href="http://propertyinvestor.io/" class="btn btn-danger" target="_none" alt="Property Investor">Sign Up for the Beta</a>
				<br><br>

			</div><!-- end col dontainer -->
			<div class="col-sm-6 hidden-xs">
				<a href="http://propertyinvestor.io/" alt="Data based matchmaking of investment property" target="_none"><%= image_tag("PI_logo.png", class: "align-center logo-images-smaller") %>
				</a>
			</div>	
		</div><hr>

		<div class="row white_background">
			<div class="col-sm-6">
				<br>
				<a href="http://fundimpact.io/" alt="FundImpact.io" target="_none" class="visible-xs-inline"><%= image_tag("Fund-Impact-Logo.png", class: "align-center logo-images-xs") %></a>
				<h3 class="hidden-xs">Fund Impact</h3>

				<p>Cause-based matchmaking of impact companies with impact investors.</p>

				<p>Venture capitalists and impact investors will get to invest in impact companies based on causes they care about, rather than whoever happens to come across their desk.</p>

				<p>Stay tuned for the Beta launch, and follow us on <a class="social-link" href="https://twitter.com/fundimpact?lang=en" target="none">Twitter.</a></p>

				<a href="http://fundimpact.io/" class="btn btn-danger" target="_none" alt="Fund Impact">Sign Up for the Beta</a>
				<br><br>

			</div><!-- end col dontainer -->
			<div class="col-sm-6 hidden-xs">
				<a href="http://fundimpact.io/" alt="Cause based matchmaking of impact investment" target="_none">
					<%= image_tag("Fund-Impact-Logo.png", class: "align-center logo-images-xs") %>
				</a>
			</div>	
		</div><hr>

		<div id="Direct_Respect_Realty" class="row white_background">
			<div class="col-sm-6">

				<a href="http://directrespectrealty.weebly.com/" alt="Direct Respect Realty" alt="real estate wholesaler" alt="off market property list"  target="_none" class="visible-xs-inline">
					<%= image_tag("DRR_logo.jpg", class: "align-center logo-images-xs") %>
					</a>

				<h3 class="hidden-xs">Direct Respect Realty LLC</h3>
				<p>
					Direct Respect Realty LLC is a real estate investment company that focuses on New York City; Charlotte, NC; and Silicon Valley, California.   We use several investment strategies, including real estate wholesaling, seller financed purchases, rehabs/fixer uppers, nonperforming note investing, tax lien investing, etc.</p> 

					<p>To be added to our private list of off market properties, please visit our site directly by clicking the link below.</p>

					<a href="http://directrespectrealty.weebly.com/" class="btn btn-danger" target="_none" alt="Socialwise" alt="office supplies" alt="B Corp" alt="Benefit Corporation">Join our Private Property Buyers' List</a>
					<br><br>
					
			</div><!-- end col container -->
			<div class="col-sm-6 hidden-xs">
				<a href="http://directrespectrealty.weebly.com/" alt="Direct Respect Realty" alt="real estate wholesaler" alt="off market property list"  target="_none"><%= image_tag("DRR_logo.jpg", class: "align-center logo-images logo-images-smaller") %></a>
			</div>
		</div><hr>

		<hr>

	</div><!-- end ventures list container -->
</section><!-- end #ventures_section -->