<section id="ventures_section">
	<div class="container"><!-- ventures list container -->
		<br><br>
		<h2 class="text-center">We are founders or co-founders of the following ventures...</h2>
		<br>

		<div id="socialwise" class="row white_background">
			<div class="col-sm-6">
				<a href="http://www.so-wise.com/" alt="Socialwise office products" target="_none" class="visible-xs-inline"><%= image_tag("SW_logo.png", class: "align-center logo-images-xs") %></a>

				<h3 class="hidden-xs">Socialwise Partners Inc.</h3>
				<p>
					﻿Socialwise is a charitable, green, socially responsible, business to business office supply company.  We carry over 40,000 office products, cater all the pricing to you and your company's needs, offer amazing customer service, and do it all to raise funds for charity and lead social entrepreneurship.</p>

					<p>We want to change how the world does business. Forever. Join us!  Become a customer by clicking below.</p>

					<a href="http://www.so-wise.com/" class="btn btn-danger" target="_none" alt="Socialwise" alt="office supplies" alt="B Corp" alt="Benefit Corporation">Become a Customer</a>
					<br><br>

			</div><!-- end col dontainer -->
			<div class="col-sm-6 hidden-xs">

				<a href="http://www.so-wise.com/" alt="Socialwise office products" target="_none"><%= image_tag("SW_logo.png", class: "align-center logo-images logo-images-smaller") %></a>
			</div>	
		</div><hr>

		<div id="Real_Estate_Wholesaler_Database" class="row white_background">
			<div class="col-sm-6">
				<br>
				<a href="http://propertyinvestor.io/" alt="PropertyInvestor.io" target="_none" class="visible-xs-inline"><%= image_tag("PI_logo.png", class: "align-center logo-images-xs") %></a>
				<h3 class="hidden-xs">Property Investor</h3>

				<p>Data-based matchmaking of investment properties with investment buyers and their buying criteria.</p>

				<p>This will reduce the percentage of lost deals in the real estate investment space, and it will minimize the amount of time investors spend finding off market deals.</p>

				<p>Stay tuned for the Beta launch, and follow us on <a class="social-link" href="https://twitter.com/proprtyinvstr?lang=en" target="none">Twitter.</a></p>

				<a href="http://propertyinvestor.io/" class="btn btn-danger" target="_none" alt="Property Investor">Sign Up for the Beta</a>
				<br><br>

			</div><!-- end col dontainer -->
			<div class="col-sm-6 hidden-xs">
				<a href="http://rewholesalerdatabase.com/" alt="Real Estate Wholesaler Database" target="_none"><%= image_tag("PI_logo.png", class: "align-center logo-images-smaller") %></a>
			</div>	
		</div><hr>

		<div id="Direct_Respect_Realty" class="row white_background">
			<div class="col-sm-6">

				<a href="http://directrespectrealty.weebly.com/" alt="Direct Respect Realty" alt="real estate wholesaler" alt="off market property list"  target="_none" class="visible-xs-inline">
					<%= image_tag("DRR_logo.jpg", class: "align-center logo-images-xs") %>
					</a>

				<h3 class="hidden-xs">Direct Respect Realty LLC</h3>
				<p>
					Direct Respect Realty LLC is a real estate investment company that focuses on New York City; Charlotte, NC; and Silicon Valley, California.   We use several investment strategies, including real estate wholesaling, seller financed purchases, rehabs/fixer uppers, nonperforming note investing, tax lien investing, etc.</p> 

					<p>To be added to our private list of off market properties, please visit our site directly by clicking the link below.</p>

					<a href="http://directrespectrealty.weebly.com/" class="btn btn-danger" target="_none" alt="Socialwise" alt="office supplies" alt="B Corp" alt="Benefit Corporation">Join our Private Property Buyers' List</a>
					<br><br>
					
			</div><!-- end col container -->
			<div class="col-sm-6 hidden-xs">
				<a href="http://directrespectrealty.weebly.com/" alt="Direct Respect Realty" alt="real estate wholesaler" alt="off market property list"  target="_none"><%= image_tag("DRR_logo.jpg", class: "align-center logo-images logo-images-smaller") %></a>
			</div>
		</div><hr>

		<hr>

	</div><!-- end ventures list container -->
</section><!-- end #ventures_section -->