<div><!-- ventures list container -->
				<div class="row white_background">
					<div class="col-sm-6">
						<a href="http://www.so-wise.com/" alt="Socialwise office products" target="_none" class="visible-xs-inline"><%= image_tag("SW_logo.png", class: "align-center logo-images-xs") %></a>

						<h3 class="hidden-xs">Socialwise Partners Inc.</h3>
						<p>
							﻿Socialwise is a charitable, green, socially responsible, business to business office supply company.  We carry over 40,000 office products, cater all the pricing to you and your company's needs, offer amazing customer service, and do it all to raise funds for charity and lead social entrepreneurship.</p>

							<p>We want to change how the world does business. Forever. Join us!  Become a customer by clicking below.</p>


							<a href="http://www.so-wise.com/" class="btn btn-danger" target="_none" alt="Socialwise" alt="office supplies" alt="B Corp" alt="Benefit Corporation">Become a Customer</a>
							<br><br>

					</div><!-- end col dontainer -->
					<div class="col-sm-6 hidden-xs">

						<a href="http://www.so-wise.com/" alt="Socialwise office products" target="_none"><%= image_tag("SW_logo.png", class: "align-center logo-images logo-images-smaller") %></a>
					</div>	
				</div><hr>

				<div class="row white_background">
					<div class="col-sm-6">
						<a href="http://rewholesalerdatabase.com/" alt="Real Estate Wholesaler Database" target="_none" class="visible-xs-inline"><%= image_tag("REWD_logo.png", class: "align-center logo-images-xs") %></a>
						<h3 class="hidden-xs">Real Estate Wholesaler Database</h3>

						<p>Real Estate Wholesaler Database is a place to find lists of real estate wholesalers directly, rather than relying on resources like Craigslist, local networking events, bandit signs phone numbers, referrals from colleagues, etc.  </p>

						<p>Now, all it takes for a cash buyer to find people with off market property for sale is an email to any of our local wholesalers. 
						</p>

						<a href="http://rewholesalerdatabase.com/" class="btn btn-danger" target="_none" alt="Real Estate Wholesaler Database">View National Wholesaler Lists</a>
						<br><br>

					</div><!-- end col dontainer -->
					<div class="col-sm-6 hidden-xs">
						<a href="http://rewholesalerdatabase.com/" alt="Real Estate Wholesaler Database" target="_none"><%= image_tag("REWD_logo.png", class: "align-center logo-images") %></a>
					</div>	
				</div><hr>

				<div class="row white_background">
					<div class="col-sm-6">

						<a href="http://directrespectrealty.weebly.com/" alt="Direct Respect Realty" alt="real estate wholesaler" alt="off market property list"  target="_none" class="visible-xs-inline">
							<%= image_tag("DRR_logo.jpg", class: "align-center logo-images-xs") %>
							</a>

						<h3 class="hidden-xs">Direct Respect Realty LLC</h3>
						<p>
							Direct Respect Realty LLC is a real estate investment company that focuses on New York City; Charlotte, NC; and Silicon Valley, California.   We use several investment strategies, including real estate wholesaling, seller financed purchases, rehabs/fixer uppers, nonperforming note investing, tax lien investing, etc.</p> 

							<p>To be added to our private list of off market properties, please visit our site directly by clicking the link below.</p>

							<a href="http://directrespectrealty.weebly.com/" class="btn btn-danger" target="_none" alt="Socialwise" alt="office supplies" alt="B Corp" alt="Benefit Corporation">Join our Private Property Buyers' List</a>
							<br><br>
							
					</div><!-- end col dontainer -->
					<div class="col-sm-6 hidden-xs">
						<a href="http://directrespectrealty.weebly.com/" alt="Direct Respect Realty" alt="real estate wholesaler" alt="off market property list"  target="_none"><%= image_tag("DRR_logo.jpg", class: "align-center logo-images logo-images-smaller") %></a>
					</div>
				</div><hr>

				<div class="row white_background">
					<div class="col-sm-12">

						<!-- <a href="#" alt="Stage Manager Kits" target="_none" class="visible-xs-inline"><img src="#" class="align-center logo-images-xs"></a> -->

						<!-- <h3 class="hidden-xs"> --><h3>Stage Management Kits</h3>
						
						<p>Stage management kits are prepackaged utility kits for theatrical stage managers. They include everything a typical stage manager might need to run a show; including pencils to lend to actors (and never expect back), spike tape, USB laptop lights, eraseable highlighters, post-it tabs for cue marking, a mini first aid kit, a mini sewing kit, and a stress ball.</p> 

						<p><i>Stay tuned.  Online store coming soon...</i></p>

						<!-- <a href="" class="btn btn-danger" target="_none" alt="Stage Manager Kits">See Full Kit Details</a> -->
						<br><br>
							
					</div><!-- end col dontainer -->
					<!-- <div class="col-sm-6 hidden-xs">
						<a href="#" alt="Stage Manager Kits" target="_none"><img src="../images/DRR_logo.jpg" class="align-center logo-images logo-images-smaller"></a>
					</div> -->
				</div>
				<hr>


			</div><!-- end ventures list container -->