<!-- Nav text for screens not xs -->
			<nav id="bignav" class="hidden-xs container nav-text">
				<ul>
					<li><%= link_to "Ventures", ventures_path, class: "hidden-xs hidden-sm" %></li>
					<li><%= link_to "Web Development", web_dev_path, class: "hidden-xs hidden-sm" %></li>
					<li><%= link_to "Properties", properties_path, class: "hidden-xs hidden-sm" %></li>
					<li><%= link_to "Blog", root_path, class: "hidden-xs hidden-sm" %></li>
					<li><%= link_to "Contact", about_path, class: "hidden-xs hidden-sm" %></li>
				</ul>

			</nav>
			<div class="clear"></div>
<!-- end Nav text for screens not xs -->