<!-- Nav text for screens not xs -->
			<nav id="bignav" class="hidden-xs hidden-sm container nav-text">
				<ul>
					<li><%= link_to "Ventures", root_path %></li>
					<!-- <li><%= link_to "Web Development", web_dev_path %></li> -->
					<!-- <li><%= link_to "Properties", properties_path %></li> -->
					<li><%= link_to "Blog", blog_path %></li>
					<li><%= link_to "Contact", about_path %></li>
				</ul>

			</nav>
			<div class="clear"></div>
<!-- end Nav text for screens not xs -->
