<!-- start xs nav area for without javascript -->
		
			<nav id="xs_nav_nojs" class="hidden-md hidden-lg">
				<p><%= link_to "Virgo's Ventures", ventures_path, class: "xs_nav_full_width" %></p>
				<p><%= link_to "Web Development", web_dev_path, class: "xs_nav_full_width" %></p>
				<p><%= link_to "Virgo's Properties", properties_path, class: "xs_nav_full_width" %></p>
				<p><%= link_to "Virgo's Blog", root_path, class: "xs_nav_full_width" %></p>
				<p><%= link_to "Contact Virgo", about_path, class: "xs_nav_full_width" %></p>
			</nav><!-- end .xs_nav_nojs -->

<!-- end nav area xs without javascript -->