<!-- This is in use. -->
<!-- start xs nav area for without javascript -->
	<h1 id="title-md" class="text-center hidden-lg hidden-md">
		&lt; Virgo Ventures &gt;
	</h1>
	<div id="xs_hamburger">&#9776;</div>
	<span class="clearfix"></span>
	<nav id="xs_nav_nojs" class="start_hidden text-center">
		<ul>
			<li class="xs_nav_full_width"><%= link_to "Web Development", web_dev_path %></li>
			<li class="xs_nav_full_width"><%= link_to "Business Ventures", ventures_path %></li>
		<!-- 	<li class="xs_nav_full_width"><%= link_to "Virgo's Properties", properties_path %></li> -->
			<li class="xs_nav_full_width" ><%= link_to "The Blog", blog_path %></li>
			<li class="xs_nav_full_width"><%= link_to "Contact Us", about_path %></li>
			<li class="xs_nav_full_width">
				<!-- Button trigger modal -->
				<a type="button" data-toggle="modal" data-target="#NewsletterModal">Newsletter Sign Up</a>
			</li>
		</ul>
	</nav><!-- end .xs_nav_nojs -->

<!-- end nav area xs without javascript -->