<!-- start xs nav area for without javascript -->
		
			<nav id="xs_nav_nojs" class="text-center hidden-md hidden-lg">
				<p class="xs_nav_full_width"><%= link_to "Virgo's Ventures", ventures_path %></p>
				<p class="xs_nav_full_width"><%= link_to "Web Development", web_dev_path %></p>
				<p class="xs_nav_full_width"><%= link_to "Virgo's Properties", properties_path %></p>
				<p class="xs_nav_full_width" ><%= link_to "Virgo's Blog", root_path %></p>
				<p class="xs_nav_full_width"><%= link_to "Contact Virgo", about_path %></p>
			</nav><!-- end .xs_nav_nojs -->

<!-- end nav area xs without javascript -->