<!-- This is in use. -->
<!-- start xs nav area for without javascript -->
			<div id="xs_hamburger">&#9776;</div>
			<span class="clearfix"></span>
			<nav id="xs_nav_nojs" class="start_hidden text-center">
				<ul>
					<li class="xs_nav_full_width"><%= link_to "Virgo's Ventures", root_path %></li>
					<!-- <li class="xs_nav_full_width"><%= link_to "Web Development", web_dev_path %></li> -->
					<li class="xs_nav_full_width"><%= link_to "Virgo's Properties", properties_path %></li>
					<li class="xs_nav_full_width" ><%= link_to "Virgo's Blog", blog_path %></li>
					<li class="xs_nav_full_width"><%= link_to "Contact Virgo", about_path %></li>
					<li class="xs_nav_full_width">Newsletter Sign-up <%= render 'layouts/newsletter_small' %></li>
				</ul>
			</nav><!-- end .xs_nav_nojs -->

<!-- end nav area xs without javascript -->