
	<!-- Made by Alison Ostendorf
	site: Virgo Ventures Blog
	VirgoVentures.org
	team@VirgoVentures.org -->

<!DOCTYPE html>
<html>
	<head>
	    <html lang="en">
	  	<title>Virgo Ventures</title>
	  	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  		<%= csrf_meta_tags %>
	  	<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="Virgo's rants, Virgo's ventures, and Virgo Newsletter" content="Virgo's rants, Virgo's ventures, and Virgo Newsletter">
	    <!-- Google fonts below -->
	  	<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	  	<link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>	   
	  	<%= javascript_include_tag :defaults %>

	</head>
	<body class="<%= controller_name %><%= action_name%>">
		
		<%= render 'layouts/nav_xs_full_width' %>
		
		<div class="container main-container">
			
			<br>
			<!-- <div class="align-left social-media">
				<a href="https://twitter.com/VirgoBuilds" target="_none">
					<img src="images/twitter_black.png" alt="Twitter">
				</a>
			</div> -->

				<!-- would render 'layouts/nav_xs_hover' here if needed -->

				

<!-- end hover Nav ext for xs screens -->
			
				<div id="newsletter-container">
					<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
					
					<div id="mc_embed_signup">

						<form action="//virgoventures.us12.list-manage.com/subscribe/post?u=ce2ed06104e029152e8faa88e&amp;id=5e25a52cae" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
						    <div id="mc_embed_signup_scroll" class="oneline form-group">
						    	<h3 class="newsletter-text nowrap align-right">Newsletter Sign-up</h3>
								<div id="inputfield">
									<input class="newsletter-text form-control" type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder=" Email address" required>
								</div><!-- end .border -->
							    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							    <div style="position: absolute; left: -5000px;" aria-hidden="true">
							    	<input type="text" name="b_ce2ed06104e029152e8faa88e_5e25a52cae" tabindex="-1" value="">
							    </div>
							    <div class="align-right">
						    		<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default align-right light-padding">
						    	</div>
						    </div><!-- div for signup -->
						</form>
					</div>
				</div><!-- end #newsletter-container -->
				<div class="clearfix hidden-md hidden-lg"></div>
			
<!-- end newsletter code -->
<!-- begin header, tagline, and nav area  -->

			<div class="container align-center text-center">
				<h1 class="align-left headline no-wrap">Virgo Ventures</h1>
				<h2 class="hidden-xs hidden-sm align-left indent tagline">Opinions of a web developer / entrepreneuer.</h2>
				<h2 class="hidden-md hidden-lg text-center tagline">Opinions of a web developer / entrepreneuer.</h2>
			</div><!-- end .container -->

			<%= render 'layouts/big_nav' %>
			
			<hr>
<!-- end header, tagline, and nav area -->

<%= yield %>

</div><!-- end main-container here -->
	   
	     <footer>
	      <div class="container align-right">
	        <h6>Developed by Virgo Ventures LLC.  &nbsp; | &nbsp; Contact us by emailing team@virgoventures.org or signing up for our <a href="#">Newsletter</a> at the top of the page.</h6>
	      </div><!-- end footer content container -->
	    </footer>


	<!-- Scripts -->
	<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js?ver=1.4.2'></script>
	<script src="js/lib/bootstrap.min.js"></script>
	<script src="jquery.js"></script>
</body>
</html>

