
	<!-- Made by Alison Ostendorf
	site: Virgo Ventures Blog
	VirgoVentures.org
	team@VirgoVentures.org -->

<!DOCTYPE html>
<html lang="en">
	<head>
	  	<title>Virgo Ventures</title>
	  	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  		<%= csrf_meta_tags %>
	  	<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="Virgo's rants, Virgo's ventures, and Virgo Newsletter" content="Virgo's rants, Virgo's ventures, and Virgo Newsletter">
	    <!-- Google fonts below -->
	  	<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	  	<link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>	  
	  	<script src="https://use.fontawesome.com/55f8fa35cc.js"></script> 

	</head>
	<body class="<%= controller_name %>_<%= action_name%>">

		<!-- below newsletter modal code will only render when modal is clicked -->
		<%= render 'layouts/newsletter_modal' %>

		<!-- below is the newsletter sign up button for desktop size -->
		<div class="hidden-xs hidden-sm text-right" id="desktop_newsletter_button">
			<!-- Button trigger modal -->
			<a type="button" class="btn btn-danger" data-toggle="modal" data-target="#NewsletterModal">Newsletter Sign Up</a><br>
		<!-- 	<a href="https://twitter.com/VirgoBuilds" target="_none" alt="Twitter"><i class="fa fa-twitter-square icon-large" aria-hidden="true"></i></a> -->
		</div>

		<span class="hidden-md hidden-lg">
			<%= render 'layouts/nav_xs_full_width' %>
		</span>
		
		<div class="container main-container">
			
		
			<!-- <div class="align-left social-media">
				<a href="https://twitter.com/VirgoBuilds" target="_none">
					<img src="images/twitter_black.png" alt="Twitter">
				</a>
			</div> -->

				<!-- would render 'layouts/nav_xs_hover' here if needed -->

				

<!-- end hover Nav ext for xs screens -->

		<%= render 'layouts/headline' %>

		<%= yield %>

</div><!-- end main-container here -->
	   
<footer>
  <div class="container align-center">
    <h6>
     Developed by Virgo Ventures LLC. 
    <!--  &nbsp; | &nbsp;  
     <i class="fa fa-twitter-square" aria-hidden="true"></i>  --> 
     &nbsp; | &nbsp;  
     <a type="button" data-toggle="modal" data-target="#NewsletterModal">Newsletter Sign Up</a>    
     &nbsp; | &nbsp;  
     Contact us by emailing team@virgoventures.org.
 	</h6>
  </div><!-- end footer content container -->
</footer>

<!-- for agile crm tracking -->
<script type="text/javascript" src="https://virgoventures.agilecrm.com/stats/min/agile-min.js"> </script> 
<script type="text/javascript" > _agile.set_account('tjkucq8hflt2g77o7hpf7nonke', 'virgoventures'); _agile.track_page_view(); _agile_execute_web_rules(); </script>
<!-- end agile crm tracking code -->

</body>
</html>

