
				<div class="portfolio_item col-md-4 col-sm-6 col-xs-12">
					<div class="inner-portfolio-div"><!-- this is what gives hover effect to each item -->
						<a href="https://socialwise-blog.herokuapp.com/" target="blank" alt="Socialwise Partners Inc. Company Blog">
							<div class="portfolio-item-text-area"><!-- this is what gives each text area the same height -->
								<h3>3. Socialwise Company Blog</h3>
								<br>
								<p class="site_description">Main blog, careers page, and mailing list sign up page of Socialwise Partners Inc.<br><br>Still under development, this functions as a companion to their main site, at <i>So-wise.com</i></p>
							</div>
							<p><%= image_tag("SW_blog.png", class: "img-responsive") %>
							</p>
						</a>
					</div><!-- end inner portfolio div -->
				</div><!-- end .portfolio_item -->


				<div class="portfolio_item col-md-4 col-md-offset-4 col-sm-6 col-xs-12">
					<div class="inner-portfolio-div"><!-- this is what gives hover effect to each item -->
						<a href="http://www.virgoventures.org" target="blank" alt="Virgo Ventures Company Page">
							<div class="portfolio-item-text-area"><!-- this is what gives each text area the same height -->
								<h3>7. Virgo Ventures - About company website</h3>
								<p class="site_description"><br>This is the website you're looking at right now.</p>
							</div>
							<p><%= image_tag("Virgo_Ventures.png", class: "img-responsive" ) %></p>
						</a>
					</div><!-- end inner portfolio div -->
				</div><!-- end .portfolio_item -->	
								<!-- socialwise goes here -->

				<div class="portfolio_item col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="inner-portfolio-div"><!-- this is what gives hover effect to each item -->
						<a href="http://agentsforinvestors.com/" target="blank" alt="Agents for Investors - landing page">
							<div class="portfolio-item-text-area"><!-- this is what gives each text area the same height -->
								<h3>4. Agents for Investors - Landing page for an upcoming web application</h3>
								<p class="site_description">
									Landing page for an upcoming real estate web app.
								<br>Development time: Half of one work day.
								</p>
							</div>
							<p><%= image_tag("AFI_collage.jpg", class: "img-responsive") %></p>
						</a>
					</div><!-- end inner portfolio div -->
				</div><!-- end .portfolio_item -->

				<div class="portfolio_item col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="inner-portfolio-div"><!-- this is what gives hover effect to each item -->
						<a href="http://astoriarealestateagent.com/" target="blank" alt="Astoria Real Estate Agent">
							<div class="portfolio-item-text-area"><!-- this is what gives each text area the same height -->
								<h3>5. Astoria Real Estate Agent</h3>
								<br>
								<p class="site_description">
									<br>A mobile responsive redesign of a static weebly site.<br>Development time: Half of one work day.</p>
							</div>
							<p><%= image_tag("AREA_redesign.jpg", class: "img-responsive") %></p>
						</a>
					</div><!-- end inner portfolio div -->
				</div><!-- end .portfolio_item -->

				<div class="portfolio_item col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="inner-portfolio-div"><!-- this is what gives hover effect to each item -->
						<a href="http://rewd-landing-page.virgoventures.org/" target="blank" alt="REWholesalerDatabase.com landing page">
							<div class="portfolio-item-text-area"><!-- this is what gives each text area the same height -->
								<h3>6. Landing page: Real Estate Wholesaler Database</h3>
								<p class="site_description">Custom built landing page, connects to mailing list service to collect emails pre-launch.<br><br>This project has since been fully launched at REWholesalerDatabase.com.</p>
							</div>
							<p><%= image_tag("REWD_landing_page.png", class: "img-responsive") %>
							</p>
						</a>
					</div><!-- end inner portfolio div -->
				</div><!-- end .portfolio_item -->			